.title-background {
  background-image: url("/src/assets/image/bannerImg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px; /* Adjust the height as needed */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* Adjust the font color as needed */
  font-size: 36px; /* Adjust the font size as needed */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust the shadow as needed */
}
